footer{
    height: 500px;
    width: auto;
    background-color: black;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    
    
}

div{
    height: 500px;

}

a{
    text-decoration: none;
    color: white;

}

.desk{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding: 0 50px;
    
}

.mobi{
    display: none;
}

.logodesk{
    height: 40%;
   
}

.chess img{
    height: 20%;

}

.deskimg{
    
    z-index: 1;
}

.deskimg img{
    height: 75%;
}

.perguntas{
   z-index: 2;
}

@media (max-width: 800px) {

    .perguntas, .redes, .contato{
        display: none;

    }

    .desk{
        display: none;
    }
    
    .mobi{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 500px;
    
    }

    .logo img{
        height: 45%;

    }

    .icon{
        padding-top: 300px ;
        padding-left: 30px;
    }

    .icon img{
        height: 50px;
        width: 50px;
        color:  white;
    }

    .chess{
        place-self: end;
        padding-bottom: 175px;


    }

    .chess img{
        height: 75%;
        
    }

}
