footer{
    height: 500px;
    width: auto;
    background-color: black;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    
}

a{
    text-decoration: none;
    color: white;

}

.desk{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding: 0 50px;
    
}

.mobi{
    display: none;
}

.logodesk{
    height: 20%;
   
}

.chess img{
    height: 20%;

}

@media (max-width: 900px) {

    .perguntas, .redes, .contato{
        display: none;

    }
    
    .mobi{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }

    .logo img{
        height: 10%;

    }
    
}


